.link {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 12;
    font-weight: 700;
    color: black;
    transition: 1.2s;
    margin-right: 20px;
    line-height: 28px;
}
.link:last-child {
    margin-right: 0px;
}
.activeLink {
    color: #e84a5f;
}
.contacts-public {
    margin-right: 26px;
}
