.title {
    text-align: center;
}
.contact_input {
    width: 300px;
    padding: 20px 20px 20px 20px;
    border: 1px solid #e7e1e0;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.search_block {
    margin: 0 auto 20px auto;
    width: 300px;
}
