.wrap {
  text-align: center;
}

.title {
  margin: 122px auto 42px;
  max-width: 650px;

  font-size: 22px;
  line-height: 136%;
  letter-spacing: 0.02em;

  color: #000000;
}

.subtitle {
  max-width: 400px;
  margin: 0 auto;

  font-weight: 500;
  font-size: 18px;
  line-height: 200%;

  letter-spacing: 0.02em;

  color: #000000;
}

.text {
  margin-bottom: 84px;
  font-weight: 500;
  font-size: 14px;
  line-height: 257%;
  letter-spacing: 0.02em;

  color: #555555;
}

.btn{
  min-width: 400px;
  padding: 70px 12px;
  font-weight: 800;
  font-size: 30px;
  line-height: 123%;
  text-align: center;

  letter-spacing: 0.02em;

  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: 300ms; 
}

.btn:hover,
.btn:focus{
  transform: scale(1.05);
  transition: 300ms; 
}

.buttonBlue { 
  margin-right: 20px;
  background: #02172a;
}

.buttonOrange { 
  background: #ff6b01; 
}

.textQa{
  display: inline-block;
  max-width: 300px;
}

.textTheory{
  display: inline-block;
  max-width: 134px;
}

@media screen and (max-width: 1279px) {
  .title {
    margin: 80px auto 74px;
  }

  .text {
    margin-bottom: 60px;
  }
  .wrapButton {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttonBlue {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .title {
    margin: 30px auto 40px;
    max-width: 280px;
    font-size: 12px;
    line-height: 167%;
  }

  .subtitle {
    font-size: 12px;
    line-height: 117%;
  }

  .text{
    font-size: 10px;
    line-height: 120%;
  }

  .buttonBlue {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .btn{
    font-size: 24px;
    line-height: 120%;
  }

  .textQa{
    max-width: 177px;
  }
}


