.wrap {
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
}

@media screen and (max-width: 1280px) {
  .beginTest {
    padding-top: 100px;
    margin-bottom: 40px;
  }
}
.wrap:not(:last-child) {
  margin-bottom: 27px;
}

.subtitle {
  max-width: 200px;
  font-size: 22px;
  line-height: 122%;
  letter-spacing: 0.02em;
  margin: 0;

  color: #000000;
}

.btnFinish {
  padding: 17px 55px;
  background: #fff;
  border: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 121%;
  letter-spacing: 0.02em;

  color: #000000;
  cursor: pointer;
  transition: 300ms;
}

.btnFinish:disabled {
  background-color: rgb(126, 131, 131);
  color: rgb(190, 184, 184);
  cursor: auto;
}

.btnFinish:disabled:hover,
.btnFinish:disabled:focus {
  background-color: rgb(126, 131, 131);
  color: rgb(190, 184, 184);
}

.btnFinish:hover,
.btnFinish:focus {
  background: #ff6b09;
  color: #fff;
  transition: 300ms;
}

.modal {
  width: 820px;
  min-height: 456px;
  margin: 0 auto;
  padding: 50px 85px;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(2, 23, 42, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.number {
  margin: 0 0 5px 0;
  font-size: 14px;
  line-height: 121%;
  letter-spacing: 0.02em;

  color: #555555;
}
.count {
  color: #ff6b09;
}

.item {
  text-align: left;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.question {
  margin: 0 0 30px 0;
  font-size: 22px;
  line-height: 136%;
  letter-spacing: 0.02em;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.02em;

  color: #000000;
  cursor: pointer;
}

input {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid black;
}

.input:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff6b09;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 210px;
  padding: 9px 15px;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.02em;

  color: #000000;
  background: #fff;
  cursor: pointer;
  border: 1px solid #ff6b09;
  fill: #000000;
  transition: 300ms;
}

.btn:disabled {
  cursor: auto;
}

.btn:disabled:hover {
  color: #000000;
  background: #fff;
  border: 1px solid #ff6b09;
  fill: #000000;
}

.btn:hover {
  color: #fff;
  background: #ff6b09;
  fill: #fff;
  transition: 300ms;
}

.textBtn {
  display: inline;
}

@media screen and (max-width: 1279px) {
  .wrap {
    max-width: 652px;
  }
  .modal {
    max-width: 652px;
  }
}

@media screen and (max-width: 767px) {
  .wrap {
    max-width: 280px;
  }

  .subtitle {
    max-width: 130px;
    font-size: 121%;
    line-height: 17px;
  }

  .btnFinish {
    padding: 17px 38px;
    font-size: 10px;
    line-height: 120%;
  }

  .modal {
    max-width: 280px;
    padding: 40px 20px;
  }

  .number {
    margin: 0 0 20px 0;
    font-size: 10px;
    line-height: 120%;
  }

  .question {
    margin: 0 0 48px 0;
    font-size: 12px;
    line-height: 150%;
  }

  .text {
    font-size: 10px;
    line-height: 120%;
  }

  .item:not(:last-child) {
    margin-bottom: 13px;
  }

  .btn {
    min-width: 55px;
  }

  .textBtn {
    display: none;
  }
}
