.header-container {
    width: 100%;
    border: 1px solid #e2e3e5;
    min-height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        display: none;
    }
    > nav {
        width: 100%;
        display: flex;
        
        justify-content: flex-end;
        align-items: center;
        > a {
            text-decoration: none;
        }
    }
    .registerContainer {
        margin-left: 68px;
    }
}
