.logout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    .short-name {
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
    .logout-button {
        width: 56px;
        height: 70px;
        border: none;
        transition: 1.2s;
        background: transparent;
        border-left: 1px solid #e2e3e5;
        &:hover {
            transition: 1.2s;
            background: #ff6b09;
        }
    }
}
