.link {
    display: "inline-block";
    text-decoration: "none";
    padding: 12;
    font-weight: 700;
    color: black;
    transition: 1.2s;
}
.activeLink {
    color: #ff6b09;
}
.logo {
    margin-left: 20px;
}
