html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
p,
button {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #f5f6fb;
  font-size: 14px;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
#root {
  @media screen and (min-width: 1280px) {
    height: 100vh;
  }
}
.begin-test {
  @media screen and (min-width: 1280px) {
    padding-top: 40px;
  }
}
.logout-button_mobile {
  width: 100%;
  margin: 0 auto;
  background: transparent;
  border: none;
  text-align: center;
}
